<a href="https://colab.research.google.com/github/amadeu100401/ETL_Python/blob/main/ETLPYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Bibliotecas necessárias**

In [19]:
import pandas as pd
import psycopg2 as pg

# **Faz a conexão com o banco de dados**

In [20]:
connection = pg.connect(user = "amadeu", password = "123456789", host = "209.209.40.93", port = "19070", database = "FolhaDB")
curs = connection.cursor()

# **Faz a limpeza da tabela dimencional**

In [21]:
def limparTabelaDW():
  sql_delete_folhadw = ( '''
    DELETE from folhadw.dm_faixas_etarias CASCADE;
    DELETE FROM folhadw.dm_rubricas CASCADE;
    DELETE FROM folhadw.dm_setores CASCADE;
    DELETE FROM folhadw.dm_tempos_folhas CASCADE;
    DELETE FROM folhadw.dm_tempos_servicos CASCADE;
    DELETE FROM folhadw.ft_lancamentos CASCADE;
    DELETE FROM folhadw.dm_cargos CASCADE;
    ''')
  connection.rollback()
  curs.execute(sql_delete_folhadw)
  connection.commit()

limparTabelaDW()

# **Popular campos da tabela dimencional**

In [16]:
popDMcargo =( ''' 
  INSERT INTO folhadw.dm_cargos (cod_cargo,dsc_carreira,dsc_cargo) 
  SELECT A.cod_cargo, B.dsc_carreira, A.dsc_cargo FROM folha.cargos A 
  LEFT JOIN folha.carreiras B on A.cod_carreira = B.cod_carreira
    ''')
connection.rollback()
curs.execute(popDMcargo)

In [18]:
popDMSetores =( ''' 
  INSERT INTO folhadw.dm_setores (cod_setor, dsc_unidade, cidade_unidade, uf_unidade, dsc_setor)
  SELECT S.cod_setor , U.dsc_und , U.cid_und, U.uf_und, S.dsc_setor FROM folha.setores S inner join folha.unidades U on S.cod_und = U.cod_und
    ''')
connection.rollback()
curs.execute(popDMSetores)

# **Limpar BD relacional**

In [ ]:
sql_deleteFolhadw = ( '''
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
  ''')
connection.rollback()
curs.execute(sql_deleteFolhadw)
connection.commit()